openapi: 3.0.0
info:
  title: 'API baise'
  version: '1.0'
servers:
  -
    url: 'http://api.tutoriel.fr/v1'
    description: 'Mon api'
  -
    url: 'http://api.tutoriel.fr/v1'
    description: 'Mon api'
paths:
  /bins:
    get:
      description: 'Returns all bins from the system that the user has access to'
      externalDocs:
        description: 'find more info here'
        url: 'https://swagger.io/about'
      operationId: findBins
      parameters:
        -
          name: tags
          in: query
          description: 'tags to filter by'
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
        -
          name: limit
          in: query
          description: 'maximum number of results to return'
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'bin response'
          content:
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bin'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bin'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bin'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bin'
        default:
          description: 'unexpected error'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            text/html:
              schema:
                $ref: '#/components/schemas/ErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
    post:
      description: 'Creates a new bin in the city.  Duplicates are allowed'
      operationId: addBin
      requestBody:
        description: 'Bin to add to the city'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewBin'
      responses:
        '200':
          description: 'bin response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bin'
        default:
          description: 'unexpected error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
components:
  schemas:
    Bin:
      required:
        - id
        - lat
        - long
        - is_enable
        - created_at
        - updated_at
        - user_bin
        - bin_historics
        - cityBins
      properties:
        id:
          type: uuid
        lat:
          type: integer
          format: int32
        lon:
          type: integer
          format: int32
        is_enable:
          type: boolean
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        user_bin:
          type: integer
        bin_historics:
          type: integer
          format: int32
        cityBins:
          type: integer
          format: int32
      type: object
